#stream.single {
    .title {
        margin-bottom: var(--xx-large-space);
    }

    .inner {
        width: 60%;

        background-color: var(--main-color);
        color: var(--white-color);
    }

    .index {
        font-weight: bold;
        display: inline-block;
    }
}

.stream__img_area {
    width: clamp(300px, 80%, 800px);
    height: auto;
    aspect-ratio: 1/1;

    margin-inline: auto;
}

.stream__play_area {
    width: clamp(300px, 80%, 800px);
    height: auto;

    margin-inline: auto;
    margin-top: var(--medium-space);
    margin-bottom: var(--large-space);

    &:has(.stream__play_area--audio) {
        margin-top: 1px;
    }
}

.stream__play_area--audio,
.stream__play_area--video {
    width: 100%;
    height: 100%;
}

.stream__play_area--video {
    aspect-ratio: 4/3;
}

.stream__play_area--audio {
    height: 50px;
}

.stream__lyric,
.stream__music,
.stream__arrangement,
.stream__edit,
.stream__detail,
.stream__lyrics_text,
.the_content {
    text-align: center;
    margin-bottom: var(--small-space);
}

.stream__edit,
.stream__detail {
    margin-bottom: var(--x-large-space);
}

.stream__detail {
    .index {
        margin-bottom: var(--small-space);
    }
}

.stream__lyrics_text {
    .index {
        margin-bottom: var(--small-space);
    }

    line-height: 3.6rem;

    margin-bottom: calc(var(--xx-large-space) * 1.5);
}