#text.single {
    width: 100%;
    height: calc(100vh - var(--header-size));

    padding-inline: 0;

    .title {
        margin-bottom: calc(var(--xx-large-space) * 1.5);
    }

    .inner {
        display: flex;
        justify-content: center;
        width: 100%;

        position: relative;

        padding-inline: 10%;

        overflow-y: auto;
    }
}

.text__main_content_section {
    max-width: 1200px;
    height: max-content;
    flex: 1 1 70%;

    background-color: var(--white-color);

    padding: var(--medium-space);
    margin-top: var(--small-space);
    margin-right: var(--medium-space);
}

.text__sub_content_section {
    max-width: 500px;
    flex: 1 1 30%;
    justify-content: center;

    position: sticky;
    top: var(--small-space);

    height: max-content;

    &:empty {
        display: none;
    }
}

.text__outline {
    height: max-content;
    width: 100%;

    padding: var(--medium-space);
    margin-bottom: var(--medium-space);

    background-color: var(--white-color);

    li {
        margin-bottom: .5rem;
    }

    a {
        color: var(--black-color);
        border-bottom: 1px dashed var(--black-color);
    }
}

.text__tag {
    height: max-content;

    padding: var(--medium-space);

    background-color: var(--white-color);

    a {
        color: var(--white-color);
        background-color: var(--black-color);

        padding-inline: .5rem;
    }
}