.grid__wrap_container {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, clamp(200px, 30vw, 300px));
    justify-content: center;

    position: relative;

    width: 100%;
    height: 100%;
}

.media__item_container {
    display: grid;
    grid-row: span 3;
    grid-template-rows: subgrid;

    position: relative;
    padding-bottom: var(--small-space);
    margin-right: var(--large-space);
    margin-bottom: var(--large-space);

    background-color: var(--white-color);
}

.media__item_container--thumbnail {
    aspect-ratio: 1/1;
}

.media__item_container--title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

    margin-block: var(--small-space);
    padding-inline: .5rem;
}

.media__item_container--category {
    padding-inline: .5rem;
}

.media__item_container--category--item {
    display: inline-block;

    font-size: 1.4rem;
    background-color: var(--black-color);
    color: var(--white-color);

    margin-right: .5rem;
    padding-inline: .5rem;
}

.media__item_container--link {
    position: absolute;
    inset: 0;
}