.main_image__container {
    position: relative;
}

.main_image__element01,
.main_image__element02 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
}

.main_image__element01 {
    background-color: red;
    opacity: .5;
    z-index: 4;
    animation: anim 10s linear infinite;
}

.main_image__element02 {
    background-color: aqua;
    z-index: 1;
    width: 300px;
    height: 300px;
    animation: anim 12s linear infinite;
}

@keyframes anim {

    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
    }

    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(360deg);
    }

}