.main_image__container {
    position: relative;
}

.main_image__element01,
.main_image__element02 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(150px, 26.6vw, 400px);
    aspect-ratio: 1/1;
}

.main_image__element01 {
    background-color: red;
    opacity: .5;
    z-index: 4;
    animation: anim 10s linear infinite;
}

.main_image__element02 {
    background-color: aqua;
    z-index: 1;
    width: clamp(225px, 40vw, 600px);
    aspect-ratio: 1/1;
    animation: anim 12s linear infinite;
}

@keyframes anim {

    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
    }

    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(360deg);
    }

}