#web.page {
    position: relative;
    width: 100%;
    height: 100%;
    padding: var(--x-large-space);
}

.works__wrap_container {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: repeat(auto-fit, clamp(200px, 80vw, 300px));
}

.works__item_container {
    position: relative;
    display: grid;
    grid-row: span 3;
    grid-template-rows: subgrid;

    a {
        position: absolute;
        inset: 0;
    }
}

.works__item_container--img {
    aspect-ratio: 1/1;
}

.works__item_container--title {
    font-size: 2rem;
    font-weight: bold;
}

.works__item_container--info {
    font-size: 1.4rem;
    font-style: oblique;
}